<h3>Список выполняемых работ</h3>
<p>Производится: Компьютерная диагностика, перепрограммирование ЭБУ двигателя, удаление краш даты после дтп,
диагностика ходовой, ремонт ходовой, промывка систем впрыска, ... </p>

