<h3>Список выполняемых работ</h3>
<p>Производится: Компьютерная диагностика, перепрограммирование ЭБУ двигателя, удаление краш даты после дтп,
диагностика ходовой, ремонт ходовой, промывка систем впрыска, ... </p>

<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/15/tula/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Тула</a><a href="https://yandex.ru/maps/15/tula/house/ulitsa_morozova_2b/Z04YcARhSUEAQFtufX15cnhrYg==/?ll=37.630896%2C54.183403&utm_medium=mapframe&utm_source=maps&z=16.3" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Морозова, 2Б — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUNN6g-HA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
