<!doctype html>
<h4> Страница готовится <h4>
<h4> Предполагается просмотр а\м по номеру ( какие работы производились) и выбор автосервиса для выполнения работ.<h4></br>

    <html lang="en">

        <body class="text-center">
            <link href="/bootstrap.min.css" rel="stylesheet">

            <img class="mb-4" src="Foto.jpg" alt="" width="240" height="140">
        
        </body>

</html>
