<h4>Введите Логин и Пароль для продолжения работы</h4>

    <form action="/admin/autoservis" method="POST">
      Login:<br> <input type="text" name="login"></br>
      Password:<br> <input type="password" name="password"><br></br>

      <div class = "form-group col col-md-4 col-sm-4 col-12">
            <button type="submit" class="btn btn-primary"><< В в о д >></button>
      </div>
    </form>

