<h3>Учет ремонтируемых а/м в Автосервис на ул. Морозова 2 б</h3>
<p>На этой странице ведется учет приехавших а/м</p>

<form action="/client" method="POST" role="form">
   
<div class="p-3 mb-2 bg-warning text-dark">

    <div class="col-md-3 position-relative">
    <label>Введите Гос. номер а/м</label>
    <input name="number_auto" type="text" class="form-control" placeholder="Гос. Номер а/м">
    </div>

    <div class="col-md-3 position-relative">
    <label>Введите бренд а/м</label>
    <input name="auto" type="text" class="form-control" placeholder="Бренд а/м">
    </div>

    <div class="col-md-3 position-relative">
    <label>Введите марку и модель а/м</label>
    <input name="model_auto" type="text" class="form-control" placeholder="Модель а/м">
    </div>

    <div class="col-md-3 position-relative">
    <label>Введите пробег а/м в км.</label>
    <input name="km" type="text" class="form-control" placeholder="Пробег км.">
    </div>


  <div class="mb-3">
    <label>Введите неисправности а/м на которые жалуется владелец</label>
    <textarea name="deffect" class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>

    <div class="col-md-3 position-relative">
        <label>Запишите тип контроллера</label>
        <input name="ecu" type="text" class="form-control" placeholder="Eсu number">
        <div class="invalid-feedback">Example invalid form file feedback</div>
        <button type="submit" class="btn btn-primary"><< В в о д >></button>
    </div>

</form>
