
<div class="col-md-3">
    <label for="inputPassword4" class="form-label">Введите номер а/м</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>

 <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Введите бренд а/м</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>

   <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>

<button type="button" class="btn btn-success">Success</button>

<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile">
</div>


<div class="vstack gap-2 col-md-5 mx-auto">
  <button type="button" class="btn btn-secondary">Save changes</button>
  <button type="button" class="btn btn-outline-secondary">Cancel</button>
</div>


