<div class="p-3 mb-2 bg-success text-white"><img src="/img_1.jpg" ><h4>Геннадий</h4><h4>+7 910-942-2002</h4></div>

<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="yotube video" allowfullscreen></iframe>
</div>