======================
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/img_1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Геннадий</h3>
        <h4 class="card-text">+7 910 942 2002</br>+7 930 899 1111</h4>
        <h4 class="card-text">Адрес: г. Тула,</br>Центральный р-он, ул. Морозова 2 Б</h4>
      </div>
    </div>
  </div>
</div>

</br>

<img src="/location.jpg" class="img-fluid rounded-start" alt="...">