<h3>Поиск софта</h3>

<tbody>

      <form action="/admin/search" method="POST" role="form"><br>

        <div class = "form-group col col-md-4 col-sm-4 col-12">
          <button type="submit" class="btn btn-primary" style="width: 170px"><< В в о д >></button>
        </div><hr /><hr />

        <a><%= @sw_file%></a>

      </form> 
</tbody>

