<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Автосервис на ул. Морозова 2 б.</p>

<script type="text/javascript">

$(function() {

$('#datetimepicker').datetimepicker();

// этот код джава скрип исполнится только после загрузки всей страници
});

</script>

<form action="/visit" method="POST" role="form">

<div class="p-3 mb-2 bg-warning text-dark">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя" value="<%=@username%>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон" value="<%=@phone%>">
  </div>

  <div class="form-group">
    <label>Какая модель автомобиля?</label>
    <input name="modelauto" type="text" class="form-control" placeholder="Введите марку и модель а/м" value="<%=@modelauto%>">
  </div>

<div class = "form-group col col-md-4 col-sm-4 col-12">
<label>Когда вас ждать?</label>
    <div class='input-group date' id='datetimepicker1'>
        <input name="date_time" type='text' class="form-control" id="servDate" placeholder="Введите дату и время" value="<%=@date_time%>"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>

<button type="submit" class="btn btn-primary position-relative">
    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">Записаться</span></span>
</button>

</form>
