lesson20/sinatra-bootstrap/
Servis/public/users.txt
Servis/test.rb
Servis/ключ к таблице
Servis/views/.DS_Store
ServisRuby/
site/
.gitignore
Servis/autoservis.db
Servis/BAZA/bmw/x1/k911he71/k911he71.html
Servis/ключ к таблице
Servis/BAZA/database.txt
Servis/test.rb
Servis/brand.db3
.gitignore
Servis/.DS_Store
Servis/brand.db3
Servis/public/users.txt
Servis/test.rb
Servis/ключ к таблице
.DS_Store
Servis/ключ к таблице
Servis/ключ к таблице
Servis/ключ к таблице
Servis/test.rb
Servis/public/users.txt
Servis/brand.db3
.gitignore
.DS_Store
Servis/.DS_Store
Servis/test.rb
Servis/BAZA/AUDI/K911HE71/K911HE71.html
Servis/test.rb
Servis/views/list_auto.erb
Servis/username.erb